<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shinkaryuk.passbook">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".passApp"
        android:allowBackup="true"
        android:icon="@mipmap/pass_book_li_7_w"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pass_book_li_7_w"
        android:supportsRtl="true"
        android:theme="@style/AppDarkTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppDarkTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".addEditPass"
            android:label="@string/title_activity_addeditpass"
            android:screenOrientation="portrait"
            android:theme="@style/AppDarkTheme.NoActionBar">

            <!--
    Нельзя так делать. Иначе вызываемая форма возвращается к родителю, создавая его заново
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shinkaryuk.passbook.MainActivity" />
            -->
        </activity>
        <activity
            android:name=".addEditImage"
            android:label="@string/title_activity_addeditimg"
            android:screenOrientation="portrait"
            android:theme="@style/AppDarkTheme.NoActionBar">

            <!--
    Нельзя так делать. Иначе вызываемая форма возвращается к родителю, создавая его заново
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shinkaryuk.passbook.imgActivity" />
            -->
        </activity>
        <activity
            android:name=".loginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppDarkTheme.NoActionBar" />
        <activity
            android:name=".changeMainPasswd"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shinkaryuk.passbook.settings" />
        </activity> <!-- android:theme="@style/FullscreenTheme" -->
        <activity
            android:name=".notesActivity"
            android:label="Заметки"
            android:screenOrientation="portrait"
            android:theme="@style/AppDarkTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".addEditNotes"
            android:label="@string/title_activity_addeditpass"
            android:screenOrientation="portrait"
            android:theme="@style/AppDarkTheme.NoActionBar" />
        <activity
            android:name=".imagesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppDarkTheme.NoActionBar">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shinkaryuk.passbook.addEditImage" />
        </activity>
        <activity
            android:name=".activity_information"
            android:label="Сводная информация"
            android:screenOrientation="portrait"
            android:theme="@style/AppDarkTheme.NoActionBar" />
        <activity
            android:name=".image_view"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppDarkTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shinkaryuk.passbook.addEditImage" />
        </activity>
    </application>

</manifest>